<div class="wrapper">
  <h2>Registration</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="input-box">
      <input
        type="text"
        placeholder="Enter your first name"
        name="firstName"
        required
        minlength="3"
        maxlength="15"
      />
    </div>
    <div class="input-box">
      <input
        type="text"
        placeholder="Enter your last name"
        name="lastName"
        required
        minlength="3"
        maxlength="15"
      />
    </div>
    <div class="input-box">
      <input
        type="text"
        placeholder="Enter your email"
        required
        email
        name="email"
      />
    </div>

    <div class="input-box button">
      <input type="Submit" value="Register Now" />
    </div>
  </form>
</div>
