<div class="wrapper">
  <h2>Registration</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="input-box">
      Username:
      <input type="text" formControlName="username" />
    </div>
    <div class="input-box" formGroupName="credentials">
      <p>Credentials</p>
      Email:
      <input type="text" formControlName="email" />
      Password:
      <input type="text" formControlName="password" />
    </div>

    <p>Address</p>
    <div class="input-box" formGroupName="address">
      Street:
      <input type="text" formControlName="street" />
      Postal Code:
      <input type="text" formControlName="postCode" />
      City:
      <input type="text" formControlName="city" />

      <button type="submit" [disabled]="!userForm.valid">Save</button>
    </div>
  </form>
</div>

<div *ngIf="user">
  Username:
  <p>{{ user.username }}</p>
  Email:
  <p>{{ user.email }}</p>
  Password:
  <p>{{ user.password }}</p>
  Street:
  <p>{{ user.street }}</p>
  Post Code:
  <p>{{ user.postCode }}</p>
  City:
  <p>{{ user.city }}</p>
</div>
